# Add user.name and user.email to .gitconfig.inc
[include]
	path = .gitconfig.inc
[init]
	templatedir = ~/.git_template
[core]
	excludesfile = ~/.gitignore.inc
	pager = less -X -F -r
[color]
	ui = true
[tag]
	sort = version:refname

[alias]
	alias = !git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
	br = branch
	ci = commit
	co = checkout
	ctags = !.git/hooks/ctags
	dc = diff --cached
	dev = checkout develop
	lg = log --graph --pretty=format:'%Cred%h%Creset - %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%C(yellow)%d%Creset ' --abbrev-commit
	master = checkout master
	pullff = pull --ff-only
	st = status
	sup = "!cd $CODE_HOME && git standup -m 4 -s -d 5"
	up = "!find $CODE_HOME -name .git -print -execdir git fetch --all --prune \\;"
	aa = add --all
	root = !pwd
