[submodule "dotfiles/.vim/pack/airblade/start/vim-gitgutter"]
	path = dotfiles/.vim/pack/airblade/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "dotfiles/.vim/pack/bling/start/vim-bufferline"]
	path = dotfiles/.vim/pack/bling/start/vim-bufferline
	url = https://github.com/bling/vim-bufferline.git
[submodule "dotfiles/.vim/pack/ctrlpvim/start/ctrlp.vim"]
	path = dotfiles/.vim/pack/ctrlpvim/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "dotfiles/.vim/pack/tpope/start/vim-commentary"]
	path = dotfiles/.vim/pack/tpope/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "dotfiles/.vim/pack/tpope/start/vim-fugitive"]
	path = dotfiles/.vim/pack/tpope/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "dotfiles/.vim/pack/tpope/start/vim-sensible"]
	path = dotfiles/.vim/pack/tpope/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "dotfiles/.vim/pack/tpope/start/vim-sleuth"]
	path = dotfiles/.vim/pack/tpope/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "dotfiles/.vim/pack/vim-airline/start/vim-airline"]
	path = dotfiles/.vim/pack/vim-airline/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "lib/fisherman"]
	path = lib/fisherman
	url = https://github.com/fisherman/fisherman.git
[submodule "lib/solarized"]
	path = lib/solarized
	url = https://github.com/altercation/solarized.git
